<mat-card class="open-account-container">
  <mat-card-title>
    <h2>Login</h2>
  </mat-card-title>

  <form class="open-account-form">

    <mat-form-field class="form-group">
      <input matInput placeholder="Email" [(ngModel)]="userEmail" name="userEmail" />
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput placeholder="Password" type="password" [(ngModel)]="passwd" name="passwd" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="loginRequest()">Open Account</button>
  </form>

  <p class="signin-text">Don't have an account yet? <a href="#/subscribe">Sign Up</a></p>
</mat-card>