/* Import Angular Material styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.open-account-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.open-account-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

button[type='submit'] {
  width: 100%;
}

.signin-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555555;
}

.signin-text a {
  color: #007bff;
  text-decoration: none;
}

.signin-text a:hover {
  text-decoration: underline;
}
