<mat-card class="open-account-container">
  <mat-card-title>
    <h2>Open an Account</h2>
  </mat-card-title>

  <form class="open-account-form">

    <mat-form-field class="form-group">
      <input matInput placeholder="Name" [(ngModel)]="userName" name="userName" />
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput placeholder="Email" [(ngModel)]="userEmail" name="userEmail" />
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput placeholder="Password" type="password" [(ngModel)]="passwd" name="passwd" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="registerRequest()">Open Account</button>
  </form>

  <p class="signin-text">Already have an account? <a href="#">Sign in</a></p>
</mat-card>